body, html {
  width:  100%;
  height: 100%;
  margin: 0;
}

a {
  color: initial;
  text-decoration: none;
}

.container {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  font-family: 'Quicksand', sans-serif;
  color: #ffffff;
  background-color: #373f51;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  background-color: #373f51;
}

.menu-icon {
  font-size: 1.5em;
}

.heading-one {
  font-size: 1.6em;
  color: #ffffff;
}
.heading-one a {
  color: #ffffff;
}
.text {
  font-size: .9em;
  color: #ffffff;
}

.text-strong {
  font-weight: 700;
}

.text a {
  color: #ffffff;
}
#map {
  height: 200px;
  width: 100%;
  background-color: #ccc;
}

.filter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.heading-two {
  font-size: 1.4em;
}

.option {
  height: 40px;
  width:  200px;
  font-size: 1em;
  margin: 10px 0px;
  border: none;
  background-color: #ffffff;
  color: #555555;
  outline: none;
}

.option:hover, a:hover {
  color: #6ABEA7;
}

#footer {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}









