body, html {
  width:  100%;
  height: 100%;
  margin: 0;
}

a {
  color: initial;
  text-decoration: none;
}

.container {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  font-family: 'Quicksand', sans-serif;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}

.menu-icon {
  font-size: 1.5em;
}

.heading-one {
  font-size: 1.6em;
}

#map {
  height: 200px;
  width: 100%;
  background-color: #ccc;
}

.filter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.heading-two {
  font-size: 1.4em;
}