body, html {
  width:  100%;
  height: 100%;
  margin: 0;
}

a {
  color: #ffffff;
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}
h4, h6 {
  margin: 1% 0%;
}
h6 {
  font-style: italic;
}
h4 {
  color: #6abea7;
}
.container {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Quicksand', sans-serif;
  color: #ffffff;
  background-color: #373f51;
  min-height: 100vh;
  font-weight: 300;
}

.nav-bar-restaurant, .nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  background-color: #373f51;
}


.menu-icon {
  font-size: 1.5em;
}
.back-icon {
  font-size: 1.5em;
}

.heading-one {
  font-size: 1.6em;
  color: #6abea7;
  font-weight: 500;
}

.heading-one a {
  color: #6abea7;
}

.text-accent, .text-accent a {
  color:  #6abea7;
}

.text {
  font-size: .9em;
  color: #ffffff;
}

.text-strong {
  font-weight: 700;
}

#map {
  height: 200px;
  width: 100%;
  background-color: #cccccc;
}

.filter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.heading-two, h2 {
  font-size: 1.4em;
  font-weight: 500;
  color: #6abea7;
}
.title {
  font-size: 1.4em;
  font-weight: 500;
  color: #6abea7;
  margin-right: 10px;
  width: 100%
}
.info-item {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin: 2%;
}


.option {
  height: 40px;
  width:  200px;
  font-size: 1em;
  margin: 10px 0px;
  border: none;
  background-color: #ffffff;
  color: #373f51;
  outline: none;
  font-weight: 500;
  text-shadow: 5px #cccccc;
}

.option:hover, .option:focus {
  color: #6abea7;
}

a:hover, a:focus {
  color: #6abea7;
}

#footer {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}
.nav-links {
  display: none;
}
.link {
  color: #ffffff;
}

#restaurant-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#restaurant-img {
  max-width: 100%;
}
.restaurant-img {
  max-width:  100%;
}

#reviews-list {
  margin: 0% 5%;
}

#reviews-container {
  margin: 0% 2%;
}

#restaurants-list li {
  margin: 2% 0%;
}

.large-text {
  width: 80%;
  margin: auto;
  font-size: 2em;
}
.social-text-box {
  text-align: center;
  margin-bottom: 20%
}
.social-icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-icon {
  font-size: 60px;
  padding: 10px;
}

@media screen and (min-width: 600px) {
  #map {
    height: 400px;
  }
  .menu-icon {
    display: none;
  }
  .heading-one {
    margin: 2%;
  }
  .nav-bar {
    justify-content: center;
  }
  .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-links a {
    color: #ffffff;
    margin: 2%;
  }
  .nav-links li {
    margin: 1%;
  }
  .bullet {
    color: #6abea7;
  }
  a:hover, a:focus {
    color: #6abea7;
  }
    .social-text-box {
    margin-bottom: 10%
}
}

@media screen and (min-width: 800px){
  body {
    background-color: #6abea7;
  }
  .container {
    margin: 0 auto;
    max-width: 800px;
  }
  .social-text-box {
  margin-bottom: 5%
}
}





